.c-container {
	--container-width: minmax(0, var(--container-default-width));
	--container-bound-l: var(--container-default-bound-l);
	--container-bound-r: var(--container-default-bound-r);
	--container-bg: var(--scheme-base);

	display: grid;
	background-color: var(--container-bg);
	grid-template-columns:
		auto
		var(--container-bound-l)
		var(--container-width)
		var(--container-bound-r)
		auto;

	&__content {
		grid-column: 3 / 4;
	}

	&--full {
		--container-width: minmax(0, var(--container-full-width));
		--container-bound-l: var(--container-full-bound-l);
		--container-bound-r: var(--container-full-bound-r);
	}

	&--gallery {
		--container-width: minmax(0, var(--container-gallery-width));
		--container-bound-l: var(--container-gallery-bound-l);
		--container-bound-r: var(--container-gallery-bound-r);
	}

	&--hide-overflow {
		overflow: hidden;
	}
}
