@use "../base/breakpoints" as *;

.c-review-slider {
	max-width: 100%;
	height: fit-content;

	&__content {
		list-style: none;
		display: flex;
		justify-content: center;
		gap: var(--space-24);
		// animation: scroll 20s forwards linear infinite;
	}
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}
