.c-social-link {
	--social-link-color: var(--scheme-base);
	--social-link-bg: var(--scheme-contrast);

	color: var(--social-link-color);
	background-color: var(--social-link-bg);

	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--space-8);
	transition: all ease-out 0.15s;

	&:hover {
		transform: translateY(calc(var(--space-4) * -1));
	}
}
