@use "../base/breakpoints" as *;

.footer {
	display: flex;
	flex-direction: column;

	&__partners {
		height: 100px;
		background-color: var(--clr-orange-700);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--space-64);

		@include styles-for(desktopS) {
			gap: var(--space-96);
			height: 140px;
		}
	}

	&__partner > .c-icon > svg {
		height: 70px;
		color: var(--clr-white);

		@include styles-for(desktopS) {
			height: 90px;
		}
	}

	&__partner:nth-child(2) > .c-icon > svg {
		height: 40px;

		@include styles-for(desktopS) {
			height: 50px;
		}
	}

	&__banner {
		& > .c-picture {
			height: 50vh;
			width: 100%;

			& > img {
				height: 100%;
			}
		}
	}

	&__bottom {
		padding-top: var(--space-64);
	}

	&__main {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--space-48) var(--container-default-gap);
		padding-bottom: var(--space-32);
	}

	&__contact {
		grid-column: span 12;
		display: flex;
		align-items: flex-start;
		flex-direction: column-reverse;
		justify-content: space-between;
		gap: var(--space-32);

		@include styles-for(tablet) {
			flex-direction: row;
		}

		@include styles-for(desktopM) {
			flex-direction: column;
			grid-column: 1 / 6;
		}

		& > .c-icon svg {
			height: 80px;
			width: auto;
		}
	}

	&__contact-info {
		display: flex;
		flex-direction: column;
		gap: var(--space-32);

		& > .c-text {
			max-width: 400px;
		}
	}

	&__contact-list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-16) var(--space-48);
	}

	&__contact-list-item {
		display: flex;
		align-items: center;
		gap: var(--space-16);
	}

	&__contact-icon {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 40px;
		height: 40px;

		background-color: var(--clr-green-200);
		border-radius: var(--border-radius-2);

		& > .c-icon svg {
			height: 20px;
			width: auto;
			color: var(--clr-green-600);
		}
	}

	&__navigation {
		grid-column: span 12;

		@include styles-for(tablet) {
			grid-column: span 10;
		}

		@include styles-for(desktopM) {
			grid-column: 7 / 13;
		}
	}

	&__navigation-links {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: var(--space-16) var(--container-default-gap);
	}

	&__navigation-link {
		width: fit-content;
		grid-column: span 6;

		@include styles-for(tabletS) {
			grid-column: span 3;
		}
	}

	&__legal {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--space-16);

		padding-block: var(--space-24);
		border-top: 1px solid var(--clr-grey-300);

		@include styles-for(desktopS) {
			align-items: center;
			flex-direction: row;
		}
	}

	&__legal-links {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-12) var(--space-48);
	}
}
