@use "../base/breakpoints" as *;

.split-alt {
	padding-block: var(--space-48);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--space-32) var(--container-default-gap);

	@include styles-for(desktopS) {
		gap: var(--container-default-gap);
		padding-block: var(--space-96);
	}

	&__left {
		grid-column: span 12;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: var(--container-default-gap);

		@include styles-for(tablet) {
			grid-template-columns: repeat(7, 1fr);
		}

		@include styles-for(desktopS) {
			grid-column: 1 / 8;
		}

		& > .c-picture:nth-child(1) {
			grid-column: span 4;
			height: 400px;
			width: 100%;

			@include styles-for(tablet) {
				grid-column: span 3;
			}

			@include styles-for(desktopM) {
				height: 400px;
			}

			@include styles-for(desktopL) {
				height: 550px;
			}

			& > img {
				height: 100%;
			}
		}

		& > .c-picture:nth-child(2) {
			grid-column: span 4;
			height: 400px;
			width: 100%;

			@include styles-for(tablet) {
				height: 450px;
			}

			@include styles-for(desktopM) {
				height: 500px;
			}

			@include styles-for(desktopL) {
				height: 650px;
			}

			& > img {
				height: 100%;
			}
		}
	}

	&__right {
		grid-column: span 12;
		display: flex;
		flex-direction: column;
		gap: var(--space-16);

		@include styles-for(desktopS) {
			gap: var(--space-32);
			grid-column: 9 / 13;
		}
	}
}
