---
import { Image } from "@components/index"

interface Props {
	props: {
		images?: {
			src: ImageMetadata
			alt: string
		}[]
		class?: string
	}
}

const { props } = Astro.props
---

<div class="images-60-30">
	<Image
		src={props.images[0].src}
		alt={props.images[0].alt}
		class="c-picture--cover"
		sizes={`60vw`}
	/>

	<Image
		src={props.images[1].src}
		alt={props.images[1].alt}
		class="c-picture--cover"
		sizes={`30vw`}
	/>
</div>
