---
interface Props {
	number: string
	label?: string
	class?: string
}

const { number, label, class: className } = Astro.props
---

<div class:list={["c-number", className]}>
	<p class="c-number__number typo-h2">{number}</p>
	{label && <p class="c-number__label typo-label">{label}</p>}
</div>
