@use "../../base/breakpoints" as *;

.image-right {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--container-gallery-gap);

	& > .c-picture {
		grid-column: 3 / 13;
		height: 600px;
		width: 100%;

		img {
			height: 100%;
		}
	}
}
